body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, pink, #ffccd5);
  text-align: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.photo-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 30px;
}

.instruction {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #ff69b4;
  font-weight: bold;
}

.flip-card {
  background: transparent;
  width: 30%;
  height: 200px;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
  transform: rotateY(180deg);

}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.flip-back {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  padding: 10px;
}

.main-photo {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

.love-paragraph {
  opacity: 0;
  animation: fadeIn 3s forwards;
  line-height: 1.6;
  text-align: center;
  font-size: 1.1rem;
  color: #ff1493;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.bear {
  width: 250px;
  margin-bottom: 20px;
}

@keyframes fall {
  0% { transform: translateY(-50px); opacity: 1; }
  100% { transform: translateY(600px); opacity: 0; }
}

.heart {
  position: absolute;
  top: -50px;
  font-size: 20px;
  color: #ff1493;
  animation: fall 5s linear infinite;
}
